@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Card Games Manager</h1>
    <p class="lead">Welcome to Card Games Manager. Here you can add new games, editions, cards and generate your specific card lists and more.</p>
</div>

<div class="row">
    <div class="col-md-12">
        
    </div>
    
</div>